# Chap.1 &mdash; Tabular Data and _pandas_ DataFrame

_Jean-Christophe Taveau, Université de Bordeaux, 2023-2024_

> **Pre-requisites**: Basics of Python - variables, loops, conditionals, functions

## 1. Introduction

### 1.1. Reminder - Python _Dictionary_

A _Dictionary_ is a collection of pairs key/value. It is defined by curly brackets followed by the pairs key/value separated by commas.

> **Note**: A key is separated by its value by a colon <kbd>:</kbd>

For example, the following dictionary `d` contains three pairs key/value:
- `name` is the key and the _String_ `'Deep Learning in Forestry'` is the value
- `year` and its value `2023` (a _number_)
- `acronym` and the value `'BIP-DLF'` (_String_)

In [1]:
d = {'name': 'Deep Learning in Forestry', 'year': 2023, 'acronym': 'BIP-DLF'}
d

{'name': 'Deep Learning in Forestry', 'year': 2023, 'acronym': 'BIP-DLF'}

To read a value, you use the same notation as the _List_ by using square brackets. Instead of using an index, in this case, you use the key. For example, to read the value corresponding to the key `name`, you type...

In [2]:
d['name']

'Deep Learning in Forestry'

### 1.2. Table

Most of the time, in _Data Science_, we are using tabular data. A table is composed of rows and columns. For example, the table below contains three columns entitled `A`, `B`, and `C`, respectively.

|  A |  B |  C |
|----|----|----|
|1 |2 |3|
|4 |5 |6|
|7 |8 |9|
|10 |11 |12|

> **Note**: A table is not limited to numbers (_int_ or _float_), it also may contain text (_String_). Usually, the columns are defined by headings. The rows may have specific names but usually, only the row index is used.

> **Note**: The easiest way to load/save tabular data is to use the CSV file format (Comma Separated Values).

### 1.2.1. Defining a table with a Python _Dictionary_

The simplest way is to proceed in two steps:
1. Define each row as a _Dictionary_
2. Put all the rows in a _List_

The table is organized as a _List_ of _Dictionary_.

In [3]:
row0 = {'A': 1,'B':2,'C': 3}
row1 = {'A': 4,'B':5,'C': 6}
row2 = {'A': 7,'B':8,'C': 9}
row3 = {'A': 10,'B':11,'C': 12}
row0,row1,row2,row3

({'A': 1, 'B': 2, 'C': 3},
 {'A': 4, 'B': 5, 'C': 6},
 {'A': 7, 'B': 8, 'C': 9},
 {'A': 10, 'B': 11, 'C': 12})

In [4]:
# Create a List from all the rows
t = [
    row0,
    row1,
    row2,
    row3
]
t

[{'A': 1, 'B': 2, 'C': 3},
 {'A': 4, 'B': 5, 'C': 6},
 {'A': 7, 'B': 8, 'C': 9},
 {'A': 10, 'B': 11, 'C': 12}]

### 1.2.2. Other example

In a _Dictionary_, you can mix _Numbers_ and _String_ as in the example below.

| year | university | city | country |
|------|------------|------|---------|
|2023  |Georg-August-Universität Göttingen |  Göttingen | Deutschland |
|2024  |Rijksuniversiteit Groningen | Groningen | Nederland |
|2025  |Université de Bordeaux | Bordeaux | France |

In [5]:
table = [
    {'year': 2023, 'university': 'Georg-August-Universität Göttingen', 'city': 'Göttingen', 'country': 'Deutschland'},
    {'year': 2024, 'university': 'Rijksuniversiteit Groningen', 'city': 'Groningen', 'country': 'Nederland'},
    {'year': 2025, 'university': 'Université de Bordeaux', 'city': 'Bordeaux', 'country': 'France'}
]
table

[{'year': 2023,
  'university': 'Georg-August-Universität Göttingen',
  'city': 'Göttingen',
  'country': 'Deutschland'},
 {'year': 2024,
  'university': 'Rijksuniversiteit Groningen',
  'city': 'Groningen',
  'country': 'Nederland'},
 {'year': 2025,
  'university': 'Université de Bordeaux',
  'city': 'Bordeaux',
  'country': 'France'}]

### 1.3. DataFrame creation

#### 1.3.1. _DataFrame_

The _DataFrame_ is really powerful and you can create it from different data structure like:
1. _List_ of rows (each defined as _Dictionary_)
2. _List_ of rows (defined as _List_)
3. _Dictionary_ of columns (defined as _List_)


The first step is to import the package `pandas` (**line 1**), then, you create a _DataFrame_ from the previous `table`(a _List_ of _Dictionary_) (**line 2**). 

To display, the _DataFrame_ `df` simply type the variable name (without `print(..)`) (**line 3**). Automatically, the jupyter notebook recognizes the _DataFrame_ and apply a pretty layout.

In [6]:
import pandas as pd
df = pd.DataFrame(table)
df

   year                          university       city      country
0  2023  Georg-August-Universität Göttingen  Göttingen  Deutschland
1  2024         Rijksuniversiteit Groningen  Groningen    Nederland
2  2025              Université de Bordeaux   Bordeaux       France

> **note**: If you type `print(df)` no layout is applied... see the difference of display with the previous cell.

In [7]:
print(df)

   year                          university       city      country
0  2023  Georg-August-Universität Göttingen  Göttingen  Deutschland
1  2024         Rijksuniversiteit Groningen  Groningen    Nederland
2  2025              Université de Bordeaux   Bordeaux       France

#### 1.3.2. Using a matrix (_List_ of _List_)

In [8]:
table_matrix = [
    [2023,'Georg-August-Universität Göttingen','Goettingen', 'Deutschland'],
    [2024, 'Rijksuniversiteit Groningen', 'Groningen', 'Nederland'],
    [2025, 'Université de Bordeaux', 'Bordeaux', 'France']
]
table_matrix

[[2023, 'Georg-August-Universität Göttingen', 'Goettingen', 'Deutschland'],
 [2024, 'Rijksuniversiteit Groningen', 'Groningen', 'Nederland'],
 [2025, 'Université de Bordeaux', 'Bordeaux', 'France']]

In [9]:
df_mtx = pd.DataFrame(table_matrix,columns=['year','university','city','country'])
df_mtx

   year                          university        city      country
0  2023  Georg-August-Universität Göttingen  Goettingen  Deutschland
1  2024         Rijksuniversiteit Groningen   Groningen    Nederland
2  2025              Université de Bordeaux    Bordeaux       France

#### 1.3.3. _Dictionary_ by columns

In [10]:
table_cols = {
    'year': [2023,2024,2025],
    'university': ['Georg-August-Universität Göttingen','Rijksuniversiteit Groningen','Université de Bordeaux'],
    'city': ['Goettingen', 'Groningen','Bordeaux'],
    'country': ['Deutschland','Nederland','France']
}
table_cols

{'year': [2023, 2024, 2025],
 'university': ['Georg-August-Universität Göttingen',
  'Rijksuniversiteit Groningen',
  'Université de Bordeaux'],
 'city': ['Goettingen', 'Groningen', 'Bordeaux'],
 'country': ['Deutschland', 'Nederland', 'France']}

In [11]:
dfcols = pd.DataFrame(table_cols)
dfcols

   year                          university        city      country
0  2023  Georg-August-Universität Göttingen  Goettingen  Deutschland
1  2024         Rijksuniversiteit Groningen   Groningen    Nederland
2  2025              Université de Bordeaux    Bordeaux       France

### 1.3.4. Setting the row index

Sometimes, you

#### 1.3.4.1. Using a _List_ of index

First, you need to define a _Index_ object from the _List_ of index.
Second, use the function `set_index(...)`for setting the indexes.

> **Note**: The argument `inplace=True` modifies the current _DataFrame_.

In [12]:
index = pd.Index(['first','second','third'])
df.set_index(index,inplace=True)
df

        year                          university       city      country
first   2023  Georg-August-Universität Göttingen  Göttingen  Deutschland
second  2024         Rijksuniversiteit Groningen  Groningen    Nederland
third   2025              Université de Bordeaux   Bordeaux       France

#### 1.3.4.2. Using an existing column

This is the simplest method by using the same function `set_index(..)` and you give as first argument, the column name. 

> **Note**: The column is removed from the table.

For example...

In [13]:
df.set_index('city',inplace=True)
df

           year                          university      country
city
Göttingen  2023  Georg-August-Universität Göttingen  Deutschland
Groningen  2024         Rijksuniversiteit Groningen    Nederland
Bordeaux   2025              Université de Bordeaux       France

## 2. Reading content of a _DataFrame_

A _DataFrame_ is a data structure optimized for manipulating rows and columns without using loops and conditionals as usual scripts in Python. 

The documentation is available on [official website](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html).

| Description of basic functionalities                           | function/property          |
|----------------------------------------------------------------|----------------------------|
| Read information                                               |  `df.info()  `             |
| Read data types contained in the  table                        |  `df.dtypes`               |
| Read a column in function of its heading                       | `df[<column heading>]`     |
| Read a row based on its row title (_index_)                    |  `df.loc[<index>]`         |
| Read a row based on the row index/number (start at 0)          |  `df.iloc[<index>]`        |

In [14]:
# Reset df
df = pd.DataFrame(table,index=['first','second','third'])

### 2.0 Exploring the dataframe

Here are some basic tools to explore the dataframe.

#### 2.0.1. Reading general information

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, first to third
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        3 non-null      int64
 1   university  3 non-null      object
 2   city        3 non-null      object
 3   country     3 non-null      object
dtypes: int64(1), object(3)
memory usage: 120.0+ bytes

#### 2.0.2. Get the row and column numbers (_shape_) 

Although the previous function/method `info()` gives you this information, it is more convenient to use the property `shape` returning a _tuple_ composed of:
- (i) the row number
- (ii) the column number

In [16]:
df.shape

(3, 4)

### 2.1. Columns

Two syntaxes are possible:
- Like a Python _Dictionary_, by giving the column name enclosed by quotes (single or double) and delimited by square brackets.
- Like a Python object, the column name is preceded by a dot ".". It only works if the column name is a single word (no space).

Here are the two syntaxes to read the column `city`.

In [17]:
df['city'],df.city

(first     Göttingen
 second    Groningen
 third      Bordeaux
 Name: city, dtype: object,
 first     Göttingen
 second    Groningen
 third      Bordeaux
 Name: city, dtype: object)

In [18]:
type(df.city)

pandas.core.series.Series

In [19]:
df[['year','city']]

        year       city
first   2023  Göttingen
second  2024  Groningen
third   2025   Bordeaux

### 2.2. Rows

Two properties may be used:
- The property `loc[..]` based on the index name.
- The function `iloc[..]` based on the index value (first row is equal to 0).

In [20]:
df.loc['second']

year                                 2024
university    Rijksuniversiteit Groningen
city                            Groningen
country                         Nederland
Name: second, dtype: object

In [21]:
df.loc[['first','third']]

       year                          university       city      country
first  2023  Georg-August-Universität Göttingen  Göttingen  Deutschland
third  2025              Université de Bordeaux   Bordeaux       France

In [22]:
df.iloc[0]

year                                        2023
university    Georg-August-Universität Göttingen
city                                   Göttingen
country                              Deutschland
Name: first, dtype: object

In [23]:
df.iloc[[0,2]]

       year                          university       city      country
first  2023  Georg-August-Universität Göttingen  Göttingen  Deutschland
third  2025              Université de Bordeaux   Bordeaux       France

In [24]:
df.iloc[:2]

        year                          university       city      country
first   2023  Georg-August-Universität Göttingen  Göttingen  Deutschland
second  2024         Rijksuniversiteit Groningen  Groningen    Nederland

### 2.2. Cells

We are using the same properties as before `loc[..]` and `iloc[..]`.

#### 2.2.1. Reading a single cell

To read a cell, you use the square brackets syntax and set the row followed by the column `[<row>,<column>]`.

In [25]:
df.loc['second','country']

'Nederland'

In [26]:
df.iloc[1,3]

'Nederland'

#### 2.2.2. Reading multiple cells

In [27]:
df.iloc[[0,2],3]

first    Deutschland
third         France
Name: country, dtype: object

## 3. Manipulating a _DataFrame_

### 3.1. Adding column(s)

In [28]:
# Reset df for sake of convenience
df = pd.DataFrame(table,index=['first','second','third'])
df

        year                          university       city      country
first   2023  Georg-August-Universität Göttingen  Göttingen  Deutschland
second  2024         Rijksuniversiteit Groningen  Groningen    Nederland
third   2025              Université de Bordeaux   Bordeaux       France

In [29]:
# Source: Wikipedia
df['city_pop'] = [116557,238147,259809]
df['city_area'] = [116.89,197.96 ,49.36] # km2
df

,year,university,city,country,city_pop,city_area
first,2023,Georg-August-Universität Göttingen,Göttingen,Deutschland,116557,116.89
second,2024,Rijksuniversiteit Groningen,Groningen,Nederland,238147,197.96
third,2025,Université de Bordeaux,Bordeaux,France,259809,49.36

In [30]:
df['city_density'] = df.city_pop / df.city_area
df

,year,university,city,country,city_pop,city_area,city_density
first,2023,Georg-August-Universität Göttingen,Göttingen,Deutschland,116557,116.89,997.151168
second,2024,Rijksuniversiteit Groningen,Groningen,Nederland,238147,197.96,1203.005658
third,2025,Université de Bordeaux,Bordeaux,France,259809,49.36,5263.553485

## 4. Exercises

For all these questions, try by yourself to find out the solution by looking in the official documentation [pandas.DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) or by exploring websites dedicated to programming.

In [31]:
# Reset df for sake of convenience
df = pd.DataFrame(table,index=['first','second','third'])
df['city_pop'] = [116557,238147,259809]
df['city_area'] = [116.89,197.96 ,49.36] # km2
df['city_density'] = df.city_pop / df.city_area
df

,year,university,city,country,city_pop,city_area,city_density
first,2023,Georg-August-Universität Göttingen,Göttingen,Deutschland,116557,116.89,997.151168
second,2024,Rijksuniversiteit Groningen,Groningen,Nederland,238147,197.96,1203.005658
third,2025,Université de Bordeaux,Bordeaux,France,259809,49.36,5263.553485

### 4.0. Question: Get a cell content

Using two different syntaxes, display the cell containing the word `Groningen`in the _DataFrame_ `df`.

In [32]:
# Type your code, here
df.loc['second','city'], df.iloc[1,2], df.loc['second'].city

('Groningen', 'Groningen', 'Groningen')

<details>
<summary>Answer 4.0</summary>
<pre>
df.loc['second','city'], df.iloc[1,2], df.loc['second'].city
</pre>
Use loc[..] or iloc[..].
</details>

### 4.1. Question: Add a column `foundation`

Add a new column named `foundation` indicating the year when the university was created (information available in [ENLIGHT](https://enlight-eu.org/) website or university websites).

In [33]:
# Type your code, here
df['region'] = ['Niedersachsen','Groningen','Nouvelle-Aquitaine']
df['foundation'] = [1737,1614,1441]

<details>
<summary>Answer 4.1</summary>
<pre>
df['region'] = ['Niedersachsen','Groningen','Nouvelle-Aquitaine']
df['foundation'] = [1737,1614,1441]
</pre>
</details>

### 4.2. Question: Insert a column `acronym` after the column `university`

- University of Bordeaux: UB
- University of Goettingen: UGoe
- University of Groningen: RUG

In [34]:
# Type your code, here
df.insert(2, "acronym", ['UGoe', 'RUG','UB'])

<details>
<summary>Answer 4.2</summary>
<pre>
df.insert(2, "acronym", ['UGoe', 'RUG','UB'])
</pre>
</details>

### 4.3. Question: Compute the average city population and standard deviation.

In [35]:
# Type your code
df['city_pop'].mean(),df['city_pop'].std()

(204837.66666666666, 77216.69276350376)

<details>
<summary>Answer 4.3</summary>
<pre>
df['city_pop'].mean(),df['city_pop'].std()
</pre>
</details>

### 4.4. Question: Get the median value of city area

In [36]:
# Type your code
df['city_area'].median()

116.89

<details>
<summary>Answer 4.4</summary>
<pre>
df['city_area'].median()
</pre>
</details>

### 4.5. Question: Which city is the densiest?
Algorithm:
1. Extract the column `city_density`
2. Compute the maximum value and get its row name (see `pandas.DataFrame` Documentation)
3. Display the cell corresponding to the row name and the column `city`.

In [38]:
# Expected result 'Bordeaux'
col = df['city_density']
value = col.max()
row_name = df['city_density'].idxmax()
result = df.loc[row_name,'city']
value,row_name,result

(5263.553484602918, 'third', 'Bordeaux')

<details>
<summary>Answer 4.5</summary>
<pre>
col = df['city_density']
value = col.max()
row_name = df['city_density'].idxmax()
result = df.loc[row_name,'city']
value,index_name,result
</pre>
</details>

### 4.6. Question: How to merge tables?

Merge the _DataFrame_ `df` with the following _DataFrame_ `members` in a new _DataFrame_ `enlight`in order to get a table composed of four columns.


|        | 	university 	                   | country 	   | foundation   | acronym |
|--------|------------------------------------|---------------|--------------|---------|
| first | 	Georg-August-Universität Göttingen 	| Deutschland 	| 1737 	| GAU| 
| second|  	Rijksuniversiteit Groningen 	| Nederland 	| 1614 	| RUG| 
| third 	| Université de Bordeaux 	| France | 	1441 	| UB| 
| 0 | 	University of the Basque Country 	| Spain 	| 1980 	| UPV/EHU| 
| 1 | 	University of Bern | 	Switzerland 	| 1834 	| None| 
| 2|  	Comenius University | Bratislava 	| Slovakia 	| 1919 	| None| 
| 3|  	University of Galway 	| Ireland 	| 1845 	| None| 
| 4 | 	Ghent University 	| Belgium 	| 1817 	| None| 
| 5 | 	University of Tartu 	| Estonia 	| 1632 	| None| 
| 6 	| Uppsala University 	| Sweden 	| 1477 	| None|

In [39]:
# Source: ENLIGHT
others = [
    ['University of the Basque Country','Spain',1980,'UPV/EHU'],
    ['University of Bern','Switzerland',1834],
    ['Comenius University Bratislava','Slovakia',1919],
    ['University of Galway','Ireland',1845],
    ['Ghent University','Belgium',1817],
    ['University of Tartu','Estonia',1632],
    ['Uppsala University','Sweden',1477]
]

members = pd.DataFrame(others,columns=['university','country','foundation','acronym'])
members

                         university      country  foundation  acronym
0  University of the Basque Country        Spain        1980  UPV/EHU
1                University of Bern  Switzerland        1834     None
2    Comenius University Bratislava     Slovakia        1919     None
3              University of Galway      Ireland        1845     None
4                  Ghent University      Belgium        1817     None
5               University of Tartu      Estonia        1632     None
6                Uppsala University       Sweden        1477     None

In [40]:
# Type your code, here
subset = df[['university','country','foundation','acronym']]
enlight = pd.concat([subset,members])
enlight

                                university      country  foundation  acronym
first   Georg-August-Universität Göttingen  Deutschland        1737     UGoe
second         Rijksuniversiteit Groningen    Nederland        1614      RUG
third               Université de Bordeaux       France        1441       UB
0         University of the Basque Country        Spain        1980  UPV/EHU
1                       University of Bern  Switzerland        1834     None
2           Comenius University Bratislava     Slovakia        1919     None
3                     University of Galway      Ireland        1845     None
4                         Ghent University      Belgium        1817     None
5                      University of Tartu      Estonia        1632     None
6                       Uppsala University       Sweden        1477     None

<details>
<summary>Answer 4.6</summary>
<pre>
subset = df[['university','country','foundation','acronym']]
enlight = pd.concat([subset,members])
</pre>
</details>

### 4.7. Question: Re-index the table `enlight` with increased numbers

In [41]:
# Type your code, here
enlight = pd.concat([subset,members], ignore_index=True)
nt = enlight.reset_index(drop=True)
nt

                           university      country  foundation  acronym
0  Georg-August-Universität Göttingen  Deutschland        1737     UGoe
1         Rijksuniversiteit Groningen    Nederland        1614      RUG
2              Université de Bordeaux       France        1441       UB
3    University of the Basque Country        Spain        1980  UPV/EHU
4                  University of Bern  Switzerland        1834     None
5      Comenius University Bratislava     Slovakia        1919     None
6                University of Galway      Ireland        1845     None
7                    Ghent University      Belgium        1817     None
8                 University of Tartu      Estonia        1632     None
9                  Uppsala University       Sweden        1477     None

<details>
<summary>Answer 4.7</summary>
    <ol>
        <li>During the concatenation with the argument <code>ignore_index=True</code>
        <pre>enlight = pd.concat([subset,members], ignore_index=True)</pre>
        </li>
        <li>Using the function <code>reset_index(..)</code>
        <pre>nt = enlight.reset_index(drop=True)</pre>
        </li>
        <li>Using the funcion <code>reindex(..)</code>
        </li>
    </ol>
</details>

### 4.8. Question: Sort the table `enlight` by increased foundation year (the oldest first)

In [43]:
# Type your code, here
enlight.sort_values(by=['foundation'])
enlight

                           university      country  foundation  acronym
0  Georg-August-Universität Göttingen  Deutschland        1737     UGoe
1         Rijksuniversiteit Groningen    Nederland        1614      RUG
2              Université de Bordeaux       France        1441       UB
3    University of the Basque Country        Spain        1980  UPV/EHU
4                  University of Bern  Switzerland        1834     None
5      Comenius University Bratislava     Slovakia        1919     None
6                University of Galway      Ireland        1845     None
7                    Ghent University      Belgium        1817     None
8                 University of Tartu      Estonia        1632     None
9                  Uppsala University       Sweden        1477     None

<details>
<summary>Answer 4.8</summary>
<pre>enlight.sort_values(by=['foundation'])
</pre>
</details>

### 4.9. Question: Only display universities whose foundation year is less than 1800

In [44]:
# Type your code, here
mask = enlight['foundation'] < 1800
enlight[mask]

                           university      country  foundation acronym
0  Georg-August-Universität Göttingen  Deutschland        1737    UGoe
1         Rijksuniversiteit Groningen    Nederland        1614     RUG
2              Université de Bordeaux       France        1441      UB
8                 University of Tartu      Estonia        1632    None
9                  Uppsala University       Sweden        1477    None

<details>
<summary>Answer 4.9</summary>
<pre>
mask = enlight['foundation'] < 1800
enlight[mask]
</pre>
</details>

---
End of Chapter 1 &mdash; _pandas.DataFrame_
---